.footer {
  background: var(--c-background);
  padding: var(--margin-mobile);
  @include mq(600px) {
    padding: var(--margin);
  }
}

.csl-entry {
  font-size: 0.8rem;
  max-width: 60ch;
  padding-left: 4ch;
  text-indent: -4ch;
  margin-bottom: 0.5rem;
}

.appendix-references {
  display: inline;
}

summary {
  margin-bottom: 2rem;
}
