.title-card {
  backdrop-filter: blur(1px);
  color: var(--c-red);
  display: flex;
  flex-direction: column;
  font-size: var(--font-h1);
  justify-content: center;
  line-height: 0.9;
  max-width: 100%;
  min-height: 100vh;
  mix-blend-mode: multiply;
  padding: var(--margin-mobile);

  @include mq(600px) {
    overflow: hidden;
    padding: 5vw;
  }
}

.title-card__title {
  font-family: var(--font-data);
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1rem;
  text-transform: uppercase;

  @include mq(600px) {
    font-size: 3rem;
  }

  @include mq(900px) {
    font-size: 10vw;
  }
}

.byline {
  font-family: var(--font-headings-serif);
  font-size: 1.35rem;
  line-height: 1.1;
  margin-top: 1rem;

  @include mq(600px) {
    font-size: 6vw;
  }
  @include mq(900px) {
    font-size: 6vw;
  }
}
