.title-card {
  backdrop-filter: blur(1px);
  font-family: var(--font-headings);
  mix-blend-mode: multiply;
  color: var(--c-red);
  min-height: 100vh;
  padding: var(--margin);
  overflow: hidden;
  max-width: 100%;
}

.title-card__title {
  font-size: 12vw;
  line-height: 0.9;
  margin: 0;
  margin-bottom: 5rem;
  padding: 0;
  max-width: 100%;
  /* overflow: hidden; */
}
