/* CSS files add styling rules to your content */

@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
@import "normalize.css";

:root {
  --font-body: "Barlow", sans-serif;
  --font-headings: serif;
  --font-size-base: 20px;
  --line-height-base: 1.35;
  --c-pink: pink;
  --c-blue: blue;
  --c-text: black;
  --margin-mobile: 1rem;
  --margin: 4rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--c-text);
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: var(--margin-mobile);
}

p {
  margin-bottom: 2rem;
  max-width: 50ch;
}

.responsive-image {
  height: auto;
  width: 100%;
}

.content {
  margin: 1rem;
}

.scrollstory {
  background: none;
}

#map {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -10;
}

.story-title {
  font-size: 2rem;
  line-height: 1.15;
}

#introduction {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 90%,
    rgba(255, 255, 255, 0) 100%
  );

  margin: 0;
  padding: 1rem;
  /* display: none; */
}

.map-legend {
  display: grid;
  position: sticky;
  left: 50vw;
  top: 75vh;
  grid-template: 1rem 1rem 1rem;
  max-width: 10rem;
  overflow: hidden;
}
@media screen and (min-width: 700px) {
  body {
    font-size: 28px;
  }
}

.map-legend__header {
  grid-row: 1;
}

.map-legend__heading {
  font-size: 1rem;
  font-weight: 700;
}

.map-legend__symbols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.intro-images {
  display: grid;
  padding: var(--margin);
  grid-gap: 1rem;

}

@media screen and (min-width: 700px) {
  .intro-images {
    grid-template-columns: 50% 50%;
  }
  }
