
<section id="ktown" class="container landmark-container">
    <header class="landmark__header">
        <h2>
        <slot name="title">
          Title of landmark
        </slot>
        </h2>
        <p class="lead">
        <slot name="quote">
          quote
          </slot>
        </p>
        <slot name="intro-p">
      intro paragraph
        </slot>

    </header>

    <div class='landmark__container'>
      <div class="">
        <h3>
          Rental types
        </h3>
        <figure class="vizContainerFigure">
          <div class="vis-container">
            <div class="landmark__vis-rental-types"></div>
          </div>
        <details>
        <summary>
        Rental Types
        </summary>
          <p class="vis-description">
            A transient traveler has many considerations for selecting a
            rental: the amenities offered, the general aesthetic of the
            living environment, and space needed. This affects the choice
            among the four rental type options. For those without any other
            choice in the City of Los Angeles, more affordable options like
            tents, vehicles, and shelters housed 36,165 people in 2019
            (LAHSA).
          </p>
          </details>
        </figure>

        <figure class="vizContainerFigure">
          <div class="vis-container">
        <div class="landmark__vis-nights"></div>
</div>
        <details>
        <summary>
          Minimum Nights
        </summary>
        <p class="vis-description">
            Ranging from one day to a few months, Airbnb hosts can require a
            minimum number of nights a renter could stay in their rental.
            This offers a preview into the length of time a transient
            traveler might stay in the neighborhood and why they might be
            visiting, whether for long-term work or a short-term vacation.
            By contrast, 23% of the homeless population surveyed experienced
            homelessness for the first-time that year, whereas chronic
            homelessness increased by 17% (LAHSA, 2019).
          </p>
          </details>
        </figure>

        <div class="vis-container">
        <div class="landmark__vis-price"></div>
</div>
        <details>
        <summary>
        Daily rate of an Airbnb rental</summary>

        <figure class="visContainerFigure">
          <p class="vis-description">
            How much money would a transient traveler pay to visit? In
            contrast, economic factors are the main driver of increases in
            homelessness and Los Angeles is the least affordable housing
            market in the United States (LAHSA, 2019).
          </p>
        </figure>
        </details>
      </div>
  </section>