@font-face {
    font-family: 'Argesta Text';
    src: url('subset-ArgestaText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argesta Display';
    src: url('subset-ArgestaDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Argesta Text';
    src: url('subset-ArgestaText-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

